<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/produto/novo']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Produtos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
                <th scope="col">Categoria</th>
                <th scope="col">Fabricante</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let produto of produtos?.content">
                <td class="text-center">
                  {{ produto.id }}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar mr-3">
                      <img class="rounded" [hidden]="!produto.foto" [alt]="produto.descricao" [src]="produto.foto">
                      <img class="rounded" [hidden]="produto.foto" [alt]="produto.descricao" src="../assets/img/produto.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ produto.descricao }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ produto.valor | currency: 'BRL' }}
                </td>
                <td>
                  {{ produto.categoria.descricao }}
                </td>
                <td>
                  {{ produto.fabricante.nome }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" [routerLink]="['/produto', produto.id]" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="excluir(produto)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="produtos?.content.length">
              <tr>
                <td colspan="6" class="text-center">
                  <h5 class="h3">Nenhum produto encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/produto/novo']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div [hidden]="!produtos?.content.length" class="card-footer py-4">
          <p-paginator 
            styleClass="pagination"
            [rows]="produtos?.size" 
            [totalRecords]="produtos?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
