<ng-template #fabricanteModal let-c="close" let-d="dismiss">
    <form [formGroup]="fabricanteForm" (submit)="salvar()" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-title-default">Fabricante</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group"
              [ngClass]="{'has-danger': f.descricao.touched && f.descricao?.errors?.required}">
              <label class="form-control-label" for="descricao">Descrição</label>
              <input
                type="text"
                id="descricao"
                class="form-control form-control-alternative"
                placeholder="Descrição"
                formControlName="descricao"
                [ngClass]="{'is-invalid': f.descricao?.errors?.required}">
                <div class="invalid-feedback" *ngIf="f.descricao.touched && f.descricao?.errors?.required">Campo obrigatório</div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="c('Close click')">Cancelar</button>
      </div>
    </form>
  </ng-template>