<form [formGroup]="produtoForm" (submit)="salvar()">
  <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center">
      <span class="mask bg-gradient-danger opacity-8"></span>
      <div class="container-fluid d-flex align-items-center">
          <div class="row">
              <div class="col-12">
                  <h1 class="display-2 text-white">{{ f.descricao.value }}</h1>
              </div>
          </div>
      </div>
  </div>
  <div class="container-fluid mt--7">
      <div class="row">
          <div class="col-xl-4 order-xl-2 mb-xl-0">
            <div class="card card-profile shadow">
              <div class="row justify-content-center mb-8">
                  <div class="col-lg-3 order-lg-2">
                      <div class="card-profile-image pb-4">
                          <a href="javascript:void(0)" (click)="image.abrir()">
                              <img class="rounded-lg" [hidden]="!f.foto.value" [src]="f.foto.value">
                              <img class="rounded-lg" [hidden]="f.foto.value" src="../assets/img/produto.jpg">
                          </a>
                          <app-image-crop #image [(imagem)]="f.foto.value" (onConcluir)="aplicarFoto($event)" [corteCircular]="false"></app-image-crop>
                      </div>
                  </div>
              </div>
              <div class="card-body">
                <div class="text-center mb-4">
                  Histórico de preços
                </div>
                <ul [hidden]="!historicos.length" class="list-group list-group-flush list my--3">
                    <li *ngFor="let historico of historicos" class="list-group-item px-0">
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <img class="avatar rounded-circle" [hidden]="!historico?.usuario.foto" [src]="historico?.usuario.foto" [alt]="historico?.usuario.nome">
                                <img class="avatar rounded-circle" [hidden]="historico?.usuario.foto"  src="assets/img/theme/team-4-800x800.jpg" [alt]="historico?.usuario.nome">
                            </div>
                            <div class="col">
                                <div>
                                    <h4 class="mb-0 text-sm">{{ historico?.usuario.nome }}</h4>
                                </div>
                                <div class="text-muted">
                                    <small>{{ historico?.dataInclusao | date: 'dd-MM-yy hh:mm' }}</small>
                                </div>
                            </div>
                            <div class="col text-right">
                                <h4 class="mb-0">{{ historico?.valor | currency: 'BRL' }}</h4>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul [hidden]="historicos.length">
                    <li>
                        <div class="text-center">
                            <h5 class="text-muted">Esse produto ainda não possui histórico de preço</h5>
                        </div>
                    </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-xl-8 order-xl-1">
              <div class="card bg-secondary shadow">
                  <div class="card-header bg-white border-0">
                      <div class="row align-items-center">
                          <div class="col-12">
                              <h3 class="mb-0">Produto</h3>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="pl-lg-4">
                        <div class="row">
                          <div class="col-6">
                              <div class="form-group"
                                  [ngClass]="{'has-danger': f.categoria.touched && f.categoria?.errors?.required}">
                                  <label class="form-control-label" for="categoria">Categoria*</label>
                                  <select
                                      type="categoria"
                                      id="categoria"
                                      class="form-control form-control-alternative"
                                      formControlName="categoria"
                                      [compareWith]="comparador"
                                      [ngClass]="{'is-invalid': f.categoria.touched && f.categoria?.errors?.required}">
                                      <option [ngValue]="">Selecione</option>
                                      <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{ categoria.descricao }}</option>
                                  </select>
                                  <div class="invalid-feedback" *ngIf="f.categoria.touched && f.categoria?.errors?.required">Campo obrigatório</div>
                              </div>
                          </div>
              
                          <div class="col-6">
                              <div class="form-group"
                                  [ngClass]="{'has-danger': f.fabricante.touched && f.fabricante?.errors?.required}">
                                  <label class="form-control-label" for="fabricante">Fabricante*</label>
                                  <select
                                      type="fabricante"
                                      id="fabricante"
                                      class="form-control form-control-alternative"
                                      formControlName="fabricante"
                                      [compareWith]="comparador"
                                      [ngClass]="{'is-invalid': f.fabricante.touched && f.fabricante?.errors?.required}">
                                      <option [ngValue]="">Selecione</option>
                                      <option *ngFor="let fabricante of fabricantes" [ngValue]="fabricante">{{ fabricante.nome }}</option>
                                  </select>
                                  <div class="invalid-feedback" *ngIf="f.fabricante.touched && f.fabricante?.errors?.required">Campo obrigatório</div>
                              </div>
                          </div>
                        </div>
                        
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group"
                              [ngClass]="{'has-danger': f.descricao.touched && f.descricao?.errors?.required}">
                              <label class="form-control-label" for="descricao">Descrição*</label>
                              <input
                                type="text"
                                id="descricao"
                                class="form-control form-control-alternative"
                                formControlName="descricao"
                                [ngClass]="{'is-invalid': f.descricao.touched && f.descricao?.errors?.required}">
                                <div class="invalid-feedback" *ngIf="f.descricao.touched && f.descricao?.errors?.required">Campo obrigatório</div>
                            </div>
                          </div>
                        </div>
                
                        <div class="row">
                          <div class="col-12">
                            <div class="form-group"
                                [ngClass]="{'has-danger': f.valor.touched && f.valor?.errors?.required}">
                                <label class="form-control-label" for="valor">Valor*</label>
                                <div class="input-group input-group-merge">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">R$</span>
                                    </div>
                                    <input
                                        type="number"
                                        id="valor"
                                        class="form-control"
                                        formControlName="valor"
                                        [ngClass]="{'is-invalid': f.valor.touched && f.valor?.errors?.required}">
                                </div>
                                <div class="invalid-feedback" *ngIf="f.valor.touched && f.valor?.errors?.required">Campo obrigatório</div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="pl-lg-4">
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/produto']">Cancelar</button>
                      </div>
                  </div>
              </div>
          </div>
      </div><!-- row -->
  </div><!-- container-fluid -->
</form>