<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <app-promocao-form [exibir]="abrirModal" (onSalvar)="listar()"></app-promocao-form>
          <button class="btn btn-info" (click)="novo()">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Promoçōes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Responsável</th>
                <th scope="col">Item</th>
                <th scope="col">Valor</th>
                <th class="text-center" scope="col">Desconto</th>
                <th class="text-center" scope="col">Início</th>
                <th class="text-center" scope="col">Fim</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let promocao of promocoes?.content">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [hidden]="!promocao.usuario.foto" [alt]="promocao.usuario.nome" [src]="promocao.usuario.foto">
                      <img [hidden]="promocao.usuario.foto" [alt]="promocao.usuario.nome" src="../assets/img/usuario.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ promocao.usuario.nome }}</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <a *ngIf="promocao.produto" href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [hidden]="!promocao.produto.foto" [alt]="promocao.item.descricao" [src]="promocao.produto.foto">
                      <img [hidden]="promocao.produto.foto" [alt]="promocao.item.descricao" src="../assets/img/produto.jpg">
                    </a>

                    <a *ngIf="promocao.servico" href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [hidden]="!promocao.servico.foto" [alt]="promocao.item.descricao" [src]="promocao.servico.foto">
                      <img [hidden]="promocao.servico.foto" [alt]="promocao.item.descricao" src="../assets/img/servico.jpg">
                    </a>

                    <div class="media-body text-truncate nome-produto">
                      <span class="mb-0 text-sm">{{ promocao.item.descricao }}</span>
                      <span *ngIf="promocao.produto" class="mb-0 text-muted btn-block">{{ promocao.produto.fabricante.nome }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <small class="text-muted">De {{ promocao.item.valor | currency: 'BRL' }}</small>
                  <span class="mb-0 text-sm btn-block">Por {{ valorComDesconto(promocao) | currency: 'BRL' }}</span>
                </td>
                <td class="text-center">
                  {{ promocao.desconto }}%
                </td>
                <td class="text-center">
                  {{ promocao.inicio | date: 'dd-MM-yyyy' }}
                </td>
                <td class="text-center">
                  {{ promocao.fim | date: 'dd-MM-yyyy' }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" (click)="editar(promocao)" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(promocao)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="promocoes?.content.length">
              <tr>
                <td colspan="7" class="text-center">
                  <h5 class="h3">Nenhuma promoção encontrada</h5>
                    <button class="btn n btn-outline-primary" (click)="novo()">
                      Adicionar nova
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div [hidden]="!promocoes?.content.length" class="card-footer py-4">
          <p-paginator 
            [rows]="promocoes?.size" 
            [totalRecords]="promocoes?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false"
            styleClass="paginator">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>