<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <app-promocao-form [exibir]="abrirModal" (onSalvar)="listar()"></app-promocao-form>
          <button class="btn btn-info" (click)="novo()">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Promoçōes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Responsável</th>
                <th scope="col">Produto</th>
                <th scope="col">Valor</th>
                <th scope="col">Desconto</th>
                <th scope="col">Início</th>
                <th scope="col">Fim</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let promocao of promocoes?.content">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [alt]="promocao.usuario.nome" [src]="promocao.usuario.foto">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ promocao.usuario.nome }}</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [alt]="promocao.item.descricao" [src]="promocao.item.foto">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ promocao.item.descricao }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  <p>De {{ promocao.item.valor | currency: 'BRL' }}</p>
                  <p>Por {{ valorComDesconto(promocao) | currency: 'BRL' }}</p>
                </td>
                <td>
                  {{ promocao.desconto }}
                </td>
                <td>
                  {{ promocao.inicio | date: 'dd-MM-yyyy' }}
                </td>
                <td>
                  {{ promocao.fim | date: 'dd-MM-yyyy' }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" (click)="editar(promocao)" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="excluir(promocao)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="!promocao?.content">
              <tr>
                <td colspan="7">
                  <h5 class="h3">Nenhuma promoção encontrada</h5>
                    <button class="btn n btn-outline-primary" (click)="novo()">
                      Adicionar nova
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div [hidden]="!promocoes?.content.length" class="card-footer py-4">
          <p-paginator 
            [rows]="promocoes?.numberOfElements" 
            [totalRecords]="promocoes?.totalElements"
            (onPageChange)="listar($event)">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>