<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['//venda']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Pedidos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Data</th>
                <th scope="col">No. Pedido</th>
                <th scope="col">Cliente</th>
                <th scope="col">Responsável</th>
                <th scope="col">
                  <ng-template #popContent>
                    <small>
                      <p><i class="fa fa-paw text-success mr-1"></i> Pataz acumuladas</p>
                      <p class="mb-0"><i class="fa fa-paw text-warning mr-1"></i> Pataz utilizadas</p>
                    </small>
                  </ng-template>
                  Pataz <a href="javascript:void(0)" [ngbPopover]="popContent" triggers="mouseenter:mouseleave"><i class="fa fa-question-circle"></i></a>
                </th>
                <th scope="col">Total</th>
                <th scope="col">Pagamento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="carregando">
              <tr>
                <td colspan="8" align="center"><p-progressSpinner></p-progressSpinner></td>
              </tr>
            </tbody>
            <tbody *ngIf="!carregando">
              <tr *ngFor="let pedido of pedidos?.content" >
                <td>{{ pedido.dataPedido | date: 'dd-MM-yyyy HH:mm' }}</td>
                <td>{{ pedido.id }}</td>
                <th scope="row">
                  <div class="media">
                    <a href="javascript:void(0)" [routerLink]="['/cliente', pedido.cliente.id]" class="avatar rounded-circle mr-3">
                      <img [hidden]="!pedido.cliente.foto" [alt]="pedido.cliente.nome" [src]="pedido.cliente.foto">
                      <img [hidden]="pedido.cliente.foto" [alt]="pedido.cliente.nome" src="../assets/img/usuario.jpg">
                    </a>
                    <a [routerLink]="['/cliente', pedido.cliente.id]" class="media-body">
                      <span class="mb-0 text-sm btn-block text-body">{{ pedido.cliente.nome }}</span>
                      <span class="mb-0 text-muted">{{ pedido.cliente.email }}</span>
                    </a>
                  </div>
                </th>
                <td>
                  {{ pedido.usuario.nome }}
                </td>
                <td class="text-center">
                  <span ngbTooltip="Pataz bonus" *ngIf="pedido.patazBonusTotal">
                    {{ pedido.patazBonusTotal }} <i class="fa fa-paw text-success ml-1"></i>
                  </span>
                  <span ngbTooltip="Pataz desconto" *ngIf="pedido.patazDescontoTotal">
                    {{ pedido.patazDescontoTotal }} <i class="fa fa-paw text-warning ml-1"></i>
                  </span>
                  <span ngbTooltip="Pataz desconto" *ngIf="!pedido.patazDescontoTotal && !pedido.patazBonusTotal">-</span>
                </td>
                <td>
                  {{ pedido.total | currency: 'BRL' }}
                </td>
                <td>
                  {{ pedido.pagamento.descricao }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Visualizar" [routerLink]="['/pedido', pedido.id]" ngbTooltip="Visualizar">
                    <i class="fa fa-file"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(pedido)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="!carregando && !pedidos?.content.length">
              <tr>
                <td colspan="8" class="text-center">
                  <h5 class="h3">Nenhum pedido encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/venda']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div [hidden]="!pedidos?.content.length" class="card-footer py-4">
          <p-paginator 
            [rows]="pedidos?.size" 
            [totalRecords]="pedidos?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false"
            styleClass="paginator">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
