<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/pedido/venda']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Pedidos</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Data</th>
                <th scope="col">No. Pedido</th>
                <th scope="col">Cliente</th>
                <th scope="col">Responsável</th>
                <th scope="col">Pataz bonus</th>
                <th scope="col">Total</th>
                <th scope="col">Pagamento</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let pedido of pedidos?.content" >
                <td>{{ pedido.dataPedido | date: 'dd-MM-yyyy' }}</td>
                <td>{{ pedido.id }}</td>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [alt]="pedido.cliente.nome" [src]="pedido.cliente.foto">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ pedido.cliente.nome }}</span>
                      <div class="avatar-group">
                        <a *ngFor="let pet of pedido.cliente.pets"
                            href="javascript:void(0)"
                            class="avatar avatar-sm"
                            [ngbTooltip]="pet.nome">
                          <img [alt]="pet.nome" [src]="pet.foto" class="rounded-circle">
                        </a>
                      </div>
                    </div>
                  </div>
                </th>
                <td>
                  {{ pedido.usuario.nome }}
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-success"></i> {{ pedido.patazBonusTotal }}
                  </span>
                </td>
                <td>
                  {{ pedido.total | currency: 'BRL' }}
                </td>
                <td>
                  {{ pedido.pagamento.descricao }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="excluir(pedido)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="!pedidos?.content">
              <tr>
                <td colspan="7" class="text-center">
                  <h5 class="h3">Nenhum pedido encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/pedido/venda']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer py-4">
          <p-paginator 
            [rows]="pedidos?.size" 
            [totalRecords]="pedidos?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
