<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/usuario/novo']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuários</h3>
        </div>
        
        <div *ngIf="carregando" class="col-12 text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>

        <div *ngIf="!carregando" class="row col-12">
          <div *ngFor="let usuario of usuarios?.content" class="col-3">
            <div class="card mb-4 shadow--hover">
              <div class="card-body">
                <a [routerLink]="['/usuario', usuario.id]" class="img-user">
                  <img [hidden]="!usuario.foto" [alt]="usuario.nome" [src]="usuario.foto" class="rounded-circle img-center img-fluid shadow">
                  <img [hidden]="usuario.foto" [alt]="usuario.nome" src="../assets/img/usuario.jpg" class="rounded-circle img-center img-fluid shadow">
                </a>
                <div class="pt-4 text-center">
                  <h5 class="h3 title">
                    <span class="d-block mb-1">{{ usuario.nome }}</span>
                    <small class="h4 font-weight-light text-muted">{{ usuario.perfil.descricao }}</small>
                  </h5>
                  <div class="mt-3">
                    <button type="button" class="btn btn-outline-secondary btn-icon-only rounded-circle" title="Editar" [routerLink]="['/usuario', usuario.id]" ngbTooltip="Editar">
                      <i class="fa fa-pencil-alt"></i>
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-icon-only rounded-circle" title="Excluir" (click)="confirmarExcluir(usuario)" ngbTooltip="Excluir">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="!carregando && !usuarios?.content" class="col-12">
          <h5 class="h3">Nenhum usuário encontrado</h5>
          <button class="btn n btn-outline-primary" [routerLink]="['/usuario/novo']">
            Adicionar novo
          </button>
        </div>
        
        <div [hidden]="!usuarios?.content.length" class="card-footer py-4">
          <p-paginator 
            [rows]="usuarios?.size" 
            [totalRecords]="usuarios?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false"
            styleClass="paginator">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>