<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/usuario/novo']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Usuários</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Criado em</th>
                <th scope="col">Usuário</th>
                <th scope="col">Perfil</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="carregando">
              <tr>
                <td colspan="4"><p-progressBar mode="indeterminate"></p-progressBar></td>
              </tr>
            </tbody>
            <tbody *ngIf="!carregando">
              <tr *ngFor="let usuario of usuarios?.content">
                <td>{{ usuario.dataInclusao | date: 'dd-MM-yyyy' }}</td>
                <th scope="row">
                  <div class="media align-items-center">
                    <a class="avatar rounded-circle mr-3" [routerLink]="['/usuario', usuario.id]">
                      <img [hidden]="!usuario.foto" [alt]="usuario.nome" [src]="usuario.foto">
                      <img [hidden]="usuario.foto" [alt]="usuario.nome" src="../assets/img/usuario.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm btn-block">{{ usuario.nome }}</span>
                      <span class="mb-0 text-muted">{{ usuario.email }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ usuario.perfil.descricao }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" [routerLink]="['/usuario', usuario.id]" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(usuario)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="!carregando && !usuarios?.content">
              <tr>
                <td colspan="7" class="text-center">
                  <h5 class="h3">Nenhum usuário encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/usuario/novo']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="card-footer py-4">
          <p-paginator 
            [rows]="usuarios?.size" 
            [totalRecords]="usuarios?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false"
            styleClass="paginator">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>