<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/servico/novo']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Serviços</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Descrição</th>
                <th scope="col">Produtos</th>
                <th class="text-center" scope="col">Pataz bonus</th>
                <th class="text-center" scope="col">Pataz desconto</th>
                <th class="text-center" scope="col">Valor</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="carregando">
              <tr>
                <td colspan="7" align="center"><p-progressSpinner></p-progressSpinner></td>
              </tr>
            </tbody>
            <tbody *ngIf="!carregando">
              <tr *ngFor="let servico of servicos?.content">
                <td class="text-center">
                  {{ servico.id }}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <a [routerLink]="['/servico', servico.id]" class="avatar mr-3">
                      <img class="rounded" [hidden]="!servico.foto" [alt]="servico.descricao" [src]="servico.foto">
                      <img class="rounded" [hidden]="servico.foto" [alt]="servico.descricao" src="../assets/img/servico.jpg">
                    </a>
                    <a [routerLink]="['/servico', servico.id]" class="media-body">
                      <span class="mb-0 text-sm text-body btn-block">{{ servico.descricao }}</span>
                      <span class="mb-0 text-muted">{{ servico.duracao[1] }} min</span>
                    </a>
                  </div>
                </th>
                <td>
                  <div *ngIf="servico.produtos.length" class="avatar-group">
                    <a *ngFor="let produto of servico.produtos"
                      [routerLink]="['/produto', produto.id]"
                      class="avatar avatar-sm"
                      [ngbTooltip]="produto.descricao">
                      <img [hidden]="!produto?.foto" [alt]="produto.descricao" [src]="produto.foto" class="rounded-pill">
                      <img [hidden]="produto?.foto" [alt]="produto.descricao" src="../assets/img/produto.jpg" class="rounded-pill">
                    </a>
                  </div>
                </td>
                <td class="text-center">
                  {{ servico.patazBonus }} <i class="fa fa-paw text-success ml-1"></i>
                </td>
                <td class="text-center">
                  {{ servico.patazDesconto }} <i class="fa fa-paw text-warning ml-1"></i>
                </td>
                <td class="text-center">
                  {{ servico.valor | currency: 'BRL' }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" [routerLink]="['/servico', servico.id]" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(servico)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="!carregando && !servicos?.content.length">
              <tr>
                <td colspan="6" class="text-center">
                  <h5 class="h3">Nenhum serviço encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/servico/novo']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
