<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" [routerLink]="['/cliente/novo']">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Clientes</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Cliente</th>
                <th scope="col">CPF</th>
                <th scope="col">Endereço</th>
                <th scope="col">Pets</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of clientes?.content">
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [hidden]="!cliente.foto" [alt]="cliente.nome" [src]="cliente.foto">
                      <img [hidden]="cliente.foto" [alt]="cliente.nome" src="../assets/img/usuario.jpg">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm btn-block">{{ cliente.nome }}</span>
                      <span class="mb-0 text-muted">{{ cliente.email }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ cliente.cpf }}
                </td>
                <td>
                  <p class="text-sm mb-0 btn-block">{{ cliente.endereco }}</p>
                  <p class="text-sm text-muted mb-0">{{ cliente.bairro }}, {{ cliente.cidade }} - {{ cliente.estado.descricao }}</p>
                </td>
                <td>
                  <div class="avatar-group">
                    <a *ngFor="let pet of cliente.pets"
                      href="javascript:void(0)"
                      class="avatar avatar-sm"
                      [ngbTooltip]="pet.nome">
                      <img [hidden]="!pet?.foto" [alt]="pet.nome" [src]="pet.foto" class="rounded-circle">
                      <img [hidden]="pet?.foto" [alt]="pet.nome" src="../assets/img/pet.jpg" class="rounded-circle">
                    </a>
                  </div>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" [routerLink]="['/cliente', cliente.id]" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(cliente)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="clientes?.content.length">
              <tr>
                <td colspan="7" class="text-center">
                  <h5 class="h3">Nenhum cliente encontrado</h5>
                    <button class="btn n btn-outline-primary" [routerLink]="['/cliente/novo']">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div [hidden]="!clientes?.content.length" class="card-footer py-4">
          <p-paginator 
            [rows]="clientes?.size" 
            [totalRecords]="clientes?.totalElements"
            (onPageChange)="listar($event)"
            alwaysShow="false"
            styleClass="paginator">
          </p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>