<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <app-estoque-form [exibir]="abrirModal" (onSalvar)="listar()"></app-estoque-form>
          <button class="btn btn-info" (click)="novo()">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Estoque</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Usuário</th>
                <th scope="col">Produto</th>
                <th scope="col">Tipo</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Saldo</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let estoque of estoques.content">
                <td>
                  {{ estoque.dataInclusao | date: 'dd-MM-yyyy' }}
                </td>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [alt]="estoque.usuario.nome" [src]="estoque.usuario.foto">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ estoque.usuario.nome }}</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                      <img [alt]="estoque.produto.descricao" [src]="estoque.produto.foto">
                    </a>
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ estoque.produto.descricao }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ estoque.tipo }}
                </td>
                <td>
                  {{ estoque.quantidade }}
                </td>
                <td>
                  {{ estoque.saldo }}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="excluir(estoque)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot [hidden]="!estoque.content">
              <tr>
                <td colspan="7">
                  <h5 class="h3">Nenhum produto encontrado</h5>
                    <button class="btn n btn-outline-primary" (click)="novo()">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>