<ng-template #petModal let-c="close" let-d="dismiss">
    <form [formGroup]="petForm" (submit)="salvar()" class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-default">Pet</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <div class="form-group"
              [ngClass]="{'has-danger': f.nome?.errors?.required}">
              <label class="form-control-label" for="nome">Nome</label>
              <input
                type="text"
                id="nome"
                class="form-control form-control-alternative"
                formControlName="nome"
                [ngClass]="{'is-invalid': f.nome?.errors?.required}">
            </div>
          </div>
          <div class="col-12">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="c('Close click')">Cancelar</button>
      </div>
    </form>
  </ng-template>