<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Olá {{ f.nome.value }}</h1>
        <p class="text-white mt-0 mb-5">Para alteração de permissōes relacionadas ao seu perfil, solicite ao administrador.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-xl-0">
      <div class="card card-profile shadow mb-3">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image mb-5">
              <a href="javascript:void(0)" (click)="image.abrir()">
                <img [hidden]="!f.foto.value" [src]="f.foto.value" class="rounded-circle">
                <img [hidden]="f.foto.value" src="assets/img/usuario.jpg" class="rounded-circle">
              </a>
              <app-image-crop #image [imagem]="f.foto.value" (onConcluir)="aplicarFoto($event)"></app-image-crop>
            </div>
          </div>
        </div>

        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">22</span>
                  <span class="description">Atendimentos</span>
                </div>
                <div>
                  <span class="heading">10</span>
                  <span class="description">Vendas</span>
                </div>
                <div>
                  <span class="heading">89</span>
                  <span class="description">Avaliaçōes</span>
                </div>
              </div>
            </div>
          </div>

          <div class="text-center">
            <h3>
              {{ f.nome.value }}
            </h3>
            <div class="h5 font-weight-300 mt-4">
              <a href="mailto:{{ f.email.value }}" target="_blank">
                <i class="ni business_briefcase-24 mr-2"></i>{{ f.email.value }}
              </a>
            </div>
            <div *ngIf="f.perfil" class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>{{ f.perfil?.descricao }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-12">
              <h3 class="mb-0">Minha conta</h3>
            </div>
          </div>
        </div>
        <form [formGroup]="usuarioForm" (submit)="salvar()" class="card-body">
          <h6 class="heading-small text-muted mb-4">Informaçōes pessoais</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': f.nome.touched && f.nome?.errors}">
                  <label class="form-control-label" for="nome">Nome*</label>
                  <input 
                    type="text" 
                    id="nome" 
                    class="form-control form-control-alternative" 
                    formControlName="nome"
                    [ngClass]="{'is-invalid': f.nome.touched && f.nome?.errors}">
                  <div class="invalid-feedback" *ngIf="f.nome.touched && f.nome?.errors?.required">Campo obrigatório</div>
                  <div class="invalid-feedback" *ngIf="f.nome.touched && f.nome?.errors?.minlength">Informe um nome com tamanho mínimo de 3 caracteres</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': f.email.touched && f.email?.errors}">
                  <label class="form-control-label" for="email">E-mail*</label>
                  <input 
                    type="email" 
                    id="email" 
                    class="form-control form-control-alternative" 
                    formControlName="email"
                    [ngClass]="{'is-invalid': f.email.touched && f.email?.errors}">
                  <div class="invalid-feedback" *ngIf="f.email.touched && f.email?.errors?.required">Campo obrigatório</div>
                  <div class="invalid-feedback" *ngIf="f.email.touched && f.email?.errors?.email">Preencha com um e-mail valido</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': f.cpf.touched && f.cpf?.errors}">
                  <label class="form-control-label" for="cpf">CPF*</label>
                  <p-inputMask
                      id="cpf"
                      styleClass="form-control form-control-alternative border-0"
                      formControlName="cpf"
                      mask="999.999.999-99"
                      ariaRequired="true"
                      ariaLabel="CPF"
                      (change)="deveValidarCpf()"
                      [ngClass]="{'is-invalid': f.cpf.touched && f.cpf?.errors}">
                  </p-inputMask>
                  <div class="invalid-feedback" *ngIf="f.cpf.touched && f.cpf?.errors?.required">Campo obrigatório</div>
                  <div class="invalid-feedback" *ngIf="f.cpf.touched && f.cpf?.errors?.cpfCadastrado">CPF já foi utilizado por outro usuário</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': f.rg.touched && f.rg?.errors}">
                  <label class="form-control-label" for="rg">RG</label>
                  <input
                    type="text"
                    id="rg"
                    class="form-control form-control-alternative" 
                    formControlName="rg"
                    maxlength="15"
                    [ngClass]="{'is-invalid': f.rg.touched && f.rg?.errors}">
                  <div class="invalid-feedback" *ngIf="f.rg.touched && f.rg?.errors?.maxlength">Tamanho màximo 15 caracteres</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="pl-lg-4">
                  <button type="submit" class="btn btn-primary">Salvar</button>
                  <button type="button" class="btn btn-outline-secondary" [routerLink]="['/']">Cancelar</button>
              </div>
            </div>
          </div>
        </form><!--card-body -->

        <form [formGroup]="usuarioSenhaForm" (submit)="alterarSenha()" class="card-body">
          <h6 class="heading-small text-muted mb-4">Informaçōes de acesso</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': fs.senha.touched && fs.senha?.errors}">
                  <label class="form-control-label" for="senha">Senha*</label>
                  <input 
                    type="password" 
                    id="senha" 
                    class="form-control form-control-alternative" 
                    formControlName="senha"
                    autocomplete="false"
                    maxlength="100"
                    [ngClass]="{'is-invalid': fs.senha.touched && fs.senha?.errors}">
                  <div class="invalid-feedback" *ngIf="fs.senha.touched && fs.senha?.errors?.required">Campo obrigatório</div>
                  <div class="invalid-feedback" *ngIf="fs.senha.touched && fs.senha?.errors?.minlength">Tamanho mínimo de 3 caracteres</div>
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group" [ngClass]="{'has-danger': fs.confirmar.touched && fs.confirmar?.errors}">
                  <label class="form-control-label" for="confirmar">Confirmar senha*</label>
                  <input 
                    type="password" 
                    id="confirmar" 
                    class="form-control form-control-alternative" 
                    autocomplete="false"
                    formControlName="confirmar"
                    maxlength="100"
                    [ngClass]="{'is-invalid': fs.confirmar.touched && fs.confirmar?.errors}">
                  <div class="invalid-feedback" *ngIf="fs.confirmar.touched && fs.confirmar?.errors?.required">Campo obrigatório</div>
                  <div class="invalid-feedback" *ngIf="fs.confirmar.touched && fs.confirmar?.errors?.minlength">Tamanho mínimo de 3 caracteres</div>
                  <div class="invalid-feedback" *ngIf="fs.confirmar.touched && fs.confirmar?.errors?.senhaDivergente">Senhas informadas são divergentes, tente novamente</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="pl-lg-4">
                <button type="submit" class="btn btn-outline-primary">Alterar senha</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>