<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <app-perfil-form [exibir]="abrirModal" (onSalvar)="listar()"></app-perfil-form>
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center">
        <div class=" col-lg-6 col-7"></div>
        <div class=" col-lg-6 col-5 text-right">
          <button class="btn btn-info" (click)="novo()">Novo</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Perfis</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">Criado em</th>
                <th scope="col">Descrição</th>
                <th scope="col">Papeis</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngIf="carregando">
              <tr>
                <td colspan="4"><p-progressBar mode="indeterminate"></p-progressBar></td>
              </tr>
            </tbody>
            <tbody *ngIf="!carregando">
              <tr *ngFor="let perfil of perfis">
                <th scope="row">{{ perfil.dataInclusao | date: "dd-MM-yyyy" }}</th>
                <td>{{ perfil.descricao }}</td>
                <td>{{ perfil.papeis.length }}</td>
                <td class="text-right">
                  <button type="button" class="btn btn-outline-secondary" title="Editar" (click)="alterar(perfil)" ngbTooltip="Editar">
                    <i class="fa fa-pencil-alt"></i>
                  </button>
                  <button type="button" class="btn btn-outline-secondary" title="Excluir" (click)="confirmarExcluir(perfil)" ngbTooltip="Excluir">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
            <tfoot *ngIf="!carregando && !perfis.length">
              <tr>
                <td colspan="7" class="text-center">
                  <h5 class="h3">Nenhum perfil encontrado</h5>
                    <button class="btn n btn-outline-primary"  (click)="novo()">
                      Adicionar novo
                    </button>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>