<div *ngIf="(usuario$ | async) as usuario; else carregando">
  <app-painel></app-painel>
</div>

<ng-template #carregando>
  <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center">
          <div class=" col-lg-6 col-7"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="col-12 pt-5 pb-5 text-center">
            <p-progressSpinner></p-progressSpinner>
            <h5 class="h3">Carregando...</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>